.card {
  padding: 20px 10px;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  width: 600px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid var(--blue);
}

.cardBody {
  display: flex;
  gap: 20px;
}

.cardImage {
  display: flex;
  flex: 0 0 auto;
  width: 40%;
}

.cardData {
  flex: 0 0 auto;
  width: calc(60% - 20px);
}

.cardRow {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.cardRowLabel {
  flex: 0 0 auto;
  width: 33.33333333%;
  color: var(--text-gray-700);
  font-weight: 300;
  font-size: 14px;
}

.cardRowData {
  flex: 0 0 auto;
  width: 66.66666667%;
  color: var(--text-gray-900);
  font-weight: 500;
  font-size: 16px;
}

.cardName {
  font-size: 20px;
  font-weight: 700;
  color: var(--blue);
  border-bottom: solid 1px var(--blue);
}

.cardNameLabel {
  color: var(--text-gray-700);
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 10px;
}
