.search {
  flex-grow: 1;
  border-radius: 8px 0 0 8px;
  border-right: none !important;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.search::placeholder {
  color: #8a8a8a;
  font-size: 1em;
  font-weight: 300;
}

.btn-search {
  border-radius: 0 8px 8px 0;
}

.search-container {
  min-width: 50%;
  display: flex;
}
