.person {
  display: flex;
  list-style: none;
  font-family: inherit;
  margin-bottom: 0.5em;
  background-color: #1a1a1ad4;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  border: 1px solid #473a0b;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

.person:hover {
  background-color: #473a0b;
}

.title {
  color: #f7be06;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 10px;
}

.description {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  font-size: 0.8rem;
  font-weight: 400;
  color: #efedf8;
}

.description-title {
  color: #aaaaaa;
}

.custom-checkbox {
  width: 1em;
  height: 1em;
  margin-right: 1.6rem;
  position: relative;
  align-self: center;
}

.person-checkbox {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.person-checkbox + label {
  display: inline-flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
}
.person-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #f7be06;
  border-radius: 0.25em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.person-checkbox:checked + label::before {
  border-color: #f7be06;
  background-color: #f7be06;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%231a1a1a' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.person-checkbox:hover {
  box-shadow: 0px 0px 6px #f7be06;
}

.light.person {
  background-color: #ffffffed;
  border: 1px solid #b8e2ff;
}

.light.person:hover {
  background-color: #b8e2ff;
}

.light.person .title {
  color: #008aea;
}

.light.person .description {
  color: #444444;
}

.light.person .description-title {
  color: #828282;
}

.light.person .person-checkbox:hover {
  box-shadow: 0px 0px 6px #008aea;
}

.light .person-checkbox + label::before {
  border: 1px solid #008aea;
}

.light .person-checkbox:checked + label::before {
  border-color: #008aea;
  background-color: #008aea;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
