.result-container {
  min-width: 50%;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 7px;
    background-color: #1a1a1a;
    
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffc10742;
    
  }
}