.page {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.main-page {
  flex-grow: 1;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-loader {
  width: 250px;
  margin: auto;
}
