.page {
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #242424;
  background-image: url(./assets/background.jpg);
  transition: all 0.25s;
}

.page.light {
  background-color: #ffffff;
  background-image: url(./assets/background-light.jpg);
}

.main-page {
  flex-grow: 1;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-loader {
  width: 250px;
  margin: auto;
}
