* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100vh;
  background-color: #242424;
  background-image: url(./assets/background.jpg);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

li {
  list-style: none;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
footer {
  padding: 20px;
  display: flex;
  place-content: center;
}

input {
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 2px solid transparent;
  color: #ffc107;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffc10742;
  outline: none;
  transition: border-color 0.25s;
}

input:focus {
  border-bottom-color: #ffc107;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button {
  border-radius: 8px;
  border: 2px solid #ffc107;
  color: #ffc107;
  text-transform: uppercase;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.25s;
}

button:hover {
  border-color: #ffe9a7;
  color: #ffe9a7;
}

button:active {
  background-color: #3a4863;
}

.btn-large {
  min-width: 50%;
}
